<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>SF100000</key>
  <string>S_F_100000.glif</string>
  <key>uni2501</key>
  <string>uni2501.glif</string>
  <key>SF110000</key>
  <string>S_F_110000.glif</string>
  <key>uni2503</key>
  <string>uni2503.glif</string>
  <key>uni2504</key>
  <string>uni2504.glif</string>
  <key>uni2505</key>
  <string>uni2505.glif</string>
  <key>uni2506</key>
  <string>uni2506.glif</string>
  <key>uni2507</key>
  <string>uni2507.glif</string>
  <key>uni2508</key>
  <string>uni2508.glif</string>
  <key>uni2509</key>
  <string>uni2509.glif</string>
  <key>uni250A</key>
  <string>uni250A_.glif</string>
  <key>uni250B</key>
  <string>uni250B_.glif</string>
  <key>SF010000</key>
  <string>S_F_010000.glif</string>
  <key>uni250D</key>
  <string>uni250D_.glif</string>
  <key>uni250E</key>
  <string>uni250E_.glif</string>
  <key>uni250F</key>
  <string>uni250F_.glif</string>
  <key>SF030000</key>
  <string>S_F_030000.glif</string>
  <key>uni2511</key>
  <string>uni2511.glif</string>
  <key>uni2512</key>
  <string>uni2512.glif</string>
  <key>uni2513</key>
  <string>uni2513.glif</string>
  <key>SF020000</key>
  <string>S_F_020000.glif</string>
  <key>uni2515</key>
  <string>uni2515.glif</string>
  <key>uni2516</key>
  <string>uni2516.glif</string>
  <key>uni2517</key>
  <string>uni2517.glif</string>
  <key>SF040000</key>
  <string>S_F_040000.glif</string>
  <key>uni2519</key>
  <string>uni2519.glif</string>
  <key>uni251A</key>
  <string>uni251A_.glif</string>
  <key>uni251B</key>
  <string>uni251B_.glif</string>
  <key>SF080000</key>
  <string>S_F_080000.glif</string>
  <key>uni251D</key>
  <string>uni251D_.glif</string>
  <key>uni251E</key>
  <string>uni251E_.glif</string>
  <key>uni251F</key>
  <string>uni251F_.glif</string>
  <key>uni2520</key>
  <string>uni2520.glif</string>
  <key>uni2521</key>
  <string>uni2521.glif</string>
  <key>uni2522</key>
  <string>uni2522.glif</string>
  <key>uni2523</key>
  <string>uni2523.glif</string>
  <key>SF090000</key>
  <string>S_F_090000.glif</string>
  <key>uni2525</key>
  <string>uni2525.glif</string>
  <key>uni2526</key>
  <string>uni2526.glif</string>
  <key>uni2527</key>
  <string>uni2527.glif</string>
  <key>uni2528</key>
  <string>uni2528.glif</string>
  <key>uni2529</key>
  <string>uni2529.glif</string>
  <key>uni252A</key>
  <string>uni252A_.glif</string>
  <key>uni252B</key>
  <string>uni252B_.glif</string>
  <key>SF060000</key>
  <string>S_F_060000.glif</string>
  <key>uni252D</key>
  <string>uni252D_.glif</string>
  <key>uni252E</key>
  <string>uni252E_.glif</string>
  <key>uni252F</key>
  <string>uni252F_.glif</string>
  <key>uni2530</key>
  <string>uni2530.glif</string>
  <key>uni2531</key>
  <string>uni2531.glif</string>
  <key>uni2532</key>
  <string>uni2532.glif</string>
  <key>uni2533</key>
  <string>uni2533.glif</string>
  <key>SF070000</key>
  <string>S_F_070000.glif</string>
  <key>uni2535</key>
  <string>uni2535.glif</string>
  <key>uni2536</key>
  <string>uni2536.glif</string>
  <key>uni2537</key>
  <string>uni2537.glif</string>
  <key>uni2538</key>
  <string>uni2538.glif</string>
  <key>uni2539</key>
  <string>uni2539.glif</string>
  <key>uni253A</key>
  <string>uni253A_.glif</string>
  <key>uni253B</key>
  <string>uni253B_.glif</string>
  <key>SF050000</key>
  <string>S_F_050000.glif</string>
  <key>uni253D</key>
  <string>uni253D_.glif</string>
  <key>uni253E</key>
  <string>uni253E_.glif</string>
  <key>uni253F</key>
  <string>uni253F_.glif</string>
  <key>uni2540</key>
  <string>uni2540.glif</string>
  <key>uni2541</key>
  <string>uni2541.glif</string>
  <key>uni2542</key>
  <string>uni2542.glif</string>
  <key>uni2543</key>
  <string>uni2543.glif</string>
  <key>uni2544</key>
  <string>uni2544.glif</string>
  <key>uni2545</key>
  <string>uni2545.glif</string>
  <key>uni2546</key>
  <string>uni2546.glif</string>
  <key>uni2547</key>
  <string>uni2547.glif</string>
  <key>uni2548</key>
  <string>uni2548.glif</string>
  <key>uni2549</key>
  <string>uni2549.glif</string>
  <key>uni254A</key>
  <string>uni254A_.glif</string>
  <key>uni254B</key>
  <string>uni254B_.glif</string>
  <key>uni254C</key>
  <string>uni254C_.glif</string>
  <key>uni254D</key>
  <string>uni254D_.glif</string>
  <key>uni254E</key>
  <string>uni254E_.glif</string>
  <key>uni254F</key>
  <string>uni254F_.glif</string>
  <key>SF430000</key>
  <string>S_F_430000.glif</string>
  <key>SF240000</key>
  <string>S_F_240000.glif</string>
  <key>SF510000</key>
  <string>S_F_510000.glif</string>
  <key>SF520000</key>
  <string>S_F_520000.glif</string>
  <key>SF390000</key>
  <string>S_F_390000.glif</string>
  <key>SF220000</key>
  <string>S_F_220000.glif</string>
  <key>SF210000</key>
  <string>S_F_210000.glif</string>
  <key>SF250000</key>
  <string>S_F_250000.glif</string>
  <key>SF500000</key>
  <string>S_F_500000.glif</string>
  <key>SF490000</key>
  <string>S_F_490000.glif</string>
  <key>SF380000</key>
  <string>S_F_380000.glif</string>
  <key>SF280000</key>
  <string>S_F_280000.glif</string>
  <key>SF270000</key>
  <string>S_F_270000.glif</string>
  <key>SF260000</key>
  <string>S_F_260000.glif</string>
  <key>SF360000</key>
  <string>S_F_360000.glif</string>
  <key>SF370000</key>
  <string>S_F_370000.glif</string>
  <key>SF420000</key>
  <string>S_F_420000.glif</string>
  <key>SF190000</key>
  <string>S_F_190000.glif</string>
  <key>SF200000</key>
  <string>S_F_200000.glif</string>
  <key>SF230000</key>
  <string>S_F_230000.glif</string>
  <key>SF470000</key>
  <string>S_F_470000.glif</string>
  <key>SF480000</key>
  <string>S_F_480000.glif</string>
  <key>SF410000</key>
  <string>S_F_410000.glif</string>
  <key>SF450000</key>
  <string>S_F_450000.glif</string>
  <key>SF460000</key>
  <string>S_F_460000.glif</string>
  <key>SF400000</key>
  <string>S_F_400000.glif</string>
  <key>SF540000</key>
  <string>S_F_540000.glif</string>
  <key>SF530000</key>
  <string>S_F_530000.glif</string>
  <key>SF440000</key>
  <string>S_F_440000.glif</string>
  <key>uni256D</key>
  <string>uni256D_.glif</string>
  <key>uni256E</key>
  <string>uni256E_.glif</string>
  <key>uni256F</key>
  <string>uni256F_.glif</string>
  <key>uni2570</key>
  <string>uni2570.glif</string>
  <key>uni2571</key>
  <string>uni2571.glif</string>
  <key>uni2572</key>
  <string>uni2572.glif</string>
  <key>uni2573</key>
  <string>uni2573.glif</string>
  <key>uni2574</key>
  <string>uni2574.glif</string>
  <key>uni2575</key>
  <string>uni2575.glif</string>
  <key>uni2576</key>
  <string>uni2576.glif</string>
  <key>uni2577</key>
  <string>uni2577.glif</string>
  <key>uni2578</key>
  <string>uni2578.glif</string>
  <key>uni2579</key>
  <string>uni2579.glif</string>
  <key>uni257A</key>
  <string>uni257A_.glif</string>
  <key>uni257B</key>
  <string>uni257B_.glif</string>
  <key>uni257C</key>
  <string>uni257C_.glif</string>
  <key>uni257D</key>
  <string>uni257D_.glif</string>
  <key>uni257E</key>
  <string>uni257E_.glif</string>
  <key>uni257F</key>
  <string>uni257F_.glif</string>
</dict>
</plist>
