<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>upblock</key>
  <string>upblock.glif</string>
  <key>uni2581</key>
  <string>uni2581.glif</string>
  <key>uni2582</key>
  <string>uni2582.glif</string>
  <key>uni2583</key>
  <string>uni2583.glif</string>
  <key>dnblock</key>
  <string>dnblock.glif</string>
  <key>uni2585</key>
  <string>uni2585.glif</string>
  <key>uni2586</key>
  <string>uni2586.glif</string>
  <key>uni2587</key>
  <string>uni2587.glif</string>
  <key>block</key>
  <string>block.glif</string>
  <key>uni2589</key>
  <string>uni2589.glif</string>
  <key>uni258A</key>
  <string>uni258A_.glif</string>
  <key>uni258B</key>
  <string>uni258B_.glif</string>
  <key>lfblock</key>
  <string>lfblock.glif</string>
  <key>uni258D</key>
  <string>uni258D_.glif</string>
  <key>uni258E</key>
  <string>uni258E_.glif</string>
  <key>uni258F</key>
  <string>uni258F_.glif</string>
  <key>rtblock</key>
  <string>rtblock.glif</string>
  <key>ltshade</key>
  <string>ltshade.glif</string>
  <key>shade</key>
  <string>shade.glif</string>
  <key>dkshade</key>
  <string>dkshade.glif</string>
  <key>uni2594</key>
  <string>uni2594.glif</string>
  <key>uni2595</key>
  <string>uni2595.glif</string>
  <key>uni2596</key>
  <string>uni2596.glif</string>
  <key>uni2597</key>
  <string>uni2597.glif</string>
  <key>uni2598</key>
  <string>uni2598.glif</string>
  <key>uni2599</key>
  <string>uni2599.glif</string>
  <key>uni259A</key>
  <string>uni259A_.glif</string>
  <key>uni259B</key>
  <string>uni259B_.glif</string>
  <key>uni259C</key>
  <string>uni259C_.glif</string>
  <key>uni259D</key>
  <string>uni259D_.glif</string>
  <key>uni259E</key>
  <string>uni259E_.glif</string>
  <key>uni259F</key>
  <string>uni259F_.glif</string>
</dict>
</plist>
