<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>uni2B12</key>
  <string>uni2B_12.glif</string>
  <key>uni2B13</key>
  <string>uni2B_13.glif</string>
  <key>uni2B14</key>
  <string>uni2B_14.glif</string>
  <key>uni2B15</key>
  <string>uni2B_15.glif</string>
  <key>uni2B16</key>
  <string>uni2B_16.glif</string>
  <key>uni2B17</key>
  <string>uni2B_17.glif</string>
  <key>uni2B18</key>
  <string>uni2B_18.glif</string>
  <key>uni2B19</key>
  <string>uni2B_19.glif</string>
  <key>uni2B1A</key>
  <string>uni2B_1A_.glif</string>
  <key>uni2B1B</key>
  <string>uni2B_1B_.glif</string>
  <key>uni2B1C</key>
  <string>uni2B_1C_.glif</string>
  <key>uni2B1D</key>
  <string>uni2B_1D_.glif</string>
  <key>uni2B1E</key>
  <string>uni2B_1E_.glif</string>
  <key>uni2B1F</key>
  <string>uni2B_1F_.glif</string>
  <key>uni2B20</key>
  <string>uni2B_20.glif</string>
  <key>uni2B21</key>
  <string>uni2B_21.glif</string>
  <key>uni2B22</key>
  <string>uni2B_22.glif</string>
  <key>uni2B23</key>
  <string>uni2B_23.glif</string>
  <key>uni2B24</key>
  <string>uni2B_24.glif</string>
  <key>uni2B25</key>
  <string>uni2B_25.glif</string>
  <key>uni2B26</key>
  <string>uni2B_26.glif</string>
  <key>uni2B27</key>
  <string>uni2B_27.glif</string>
  <key>uni2B28</key>
  <string>uni2B_28.glif</string>
  <key>uni2B29</key>
  <string>uni2B_29.glif</string>
  <key>uni2B2A</key>
  <string>uni2B_2A_.glif</string>
  <key>uni2B2B</key>
  <string>uni2B_2B_.glif</string>
  <key>uni2B2C</key>
  <string>uni2B_2C_.glif</string>
  <key>uni2B2D</key>
  <string>uni2B_2D_.glif</string>
  <key>uni2B2E</key>
  <string>uni2B_2E_.glif</string>
  <key>uni2B2F</key>
  <string>uni2B_2F_.glif</string>
  <key>filledbox</key>
  <string>filledbox.glif</string>
  <key>H22073</key>
  <string>H_22073.glif</string>
  <key>uni25A2</key>
  <string>uni25A_2.glif</string>
  <key>uni25A3</key>
  <string>uni25A_3.glif</string>
  <key>uni25A4</key>
  <string>uni25A_4.glif</string>
  <key>uni25A5</key>
  <string>uni25A_5.glif</string>
  <key>uni25A6</key>
  <string>uni25A_6.glif</string>
  <key>uni25A7</key>
  <string>uni25A_7.glif</string>
  <key>uni25A8</key>
  <string>uni25A_8.glif</string>
  <key>uni25A9</key>
  <string>uni25A_9.glif</string>
  <key>H18543</key>
  <string>H_18543.glif</string>
  <key>H18551</key>
  <string>H_18551.glif</string>
  <key>filledrect</key>
  <string>filledrect.glif</string>
  <key>uni25AD</key>
  <string>uni25A_D_.glif</string>
  <key>uni25AE</key>
  <string>uni25A_E_.glif</string>
  <key>uni25AF</key>
  <string>uni25A_F_.glif</string>
  <key>uni25B0</key>
  <string>uni25B_0.glif</string>
  <key>uni25B1</key>
  <string>uni25B_1.glif</string>
  <key>triagup</key>
  <string>triagup.glif</string>
  <key>uni25B3</key>
  <string>uni25B_3.glif</string>
  <key>uni25B4</key>
  <string>uni25B_4.glif</string>
  <key>uni25B5</key>
  <string>uni25B_5.glif</string>
  <key>uni25B6</key>
  <string>uni25B_6.glif</string>
  <key>uni25B8</key>
  <string>uni25B_8.glif</string>
  <key>uni25B9</key>
  <string>uni25B_9.glif</string>
  <key>triagrt</key>
  <string>triagrt.glif</string>
  <key>uni25BB</key>
  <string>uni25B_B_.glif</string>
  <key>triagdn</key>
  <string>triagdn.glif</string>
  <key>uni25BD</key>
  <string>uni25B_D_.glif</string>
  <key>uni25BE</key>
  <string>uni25B_E_.glif</string>
  <key>uni25BF</key>
  <string>uni25B_F_.glif</string>
  <key>uni25C0</key>
  <string>uni25C_0.glif</string>
  <key>uni25C2</key>
  <string>uni25C_2.glif</string>
  <key>uni25C3</key>
  <string>uni25C_3.glif</string>
  <key>triaglf</key>
  <string>triaglf.glif</string>
  <key>uni25C5</key>
  <string>uni25C_5.glif</string>
  <key>uni25C6</key>
  <string>uni25C_6.glif</string>
  <key>uni25C7</key>
  <string>uni25C_7.glif</string>
  <key>uni25C8</key>
  <string>uni25C_8.glif</string>
  <key>uni25C9</key>
  <string>uni25C_9.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>circle</key>
  <string>circle.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>uni25CD</key>
  <string>uni25C_D_.glif</string>
  <key>uni25CE</key>
  <string>uni25C_E_.glif</string>
  <key>H18533</key>
  <string>H_18533.glif</string>
  <key>uni25D0</key>
  <string>uni25D_0.glif</string>
  <key>uni25D1</key>
  <string>uni25D_1.glif</string>
  <key>uni25D2</key>
  <string>uni25D_2.glif</string>
  <key>uni25D3</key>
  <string>uni25D_3.glif</string>
  <key>uni25D4</key>
  <string>uni25D_4.glif</string>
  <key>uni25D5</key>
  <string>uni25D_5.glif</string>
  <key>uni25D6</key>
  <string>uni25D_6.glif</string>
  <key>uni25D7</key>
  <string>uni25D_7.glif</string>
  <key>invbullet</key>
  <string>invbullet.glif</string>
  <key>invcircle</key>
  <string>invcircle.glif</string>
  <key>uni25DA</key>
  <string>uni25D_A_.glif</string>
  <key>uni25DB</key>
  <string>uni25D_B_.glif</string>
  <key>uni25DC</key>
  <string>uni25D_C_.glif</string>
  <key>uni25DD</key>
  <string>uni25D_D_.glif</string>
  <key>uni25DE</key>
  <string>uni25D_E_.glif</string>
  <key>uni25DF</key>
  <string>uni25D_F_.glif</string>
  <key>uni25E0</key>
  <string>uni25E_0.glif</string>
  <key>uni25E1</key>
  <string>uni25E_1.glif</string>
  <key>uni25E2</key>
  <string>uni25E_2.glif</string>
  <key>uni25E3</key>
  <string>uni25E_3.glif</string>
  <key>uni25E4</key>
  <string>uni25E_4.glif</string>
  <key>uni25E5</key>
  <string>uni25E_5.glif</string>
  <key>openbullet</key>
  <string>openbullet.glif</string>
  <key>uni25E7</key>
  <string>uni25E_7.glif</string>
  <key>uni25E8</key>
  <string>uni25E_8.glif</string>
  <key>uni25E9</key>
  <string>uni25E_9.glif</string>
  <key>uni25EA</key>
  <string>uni25E_A_.glif</string>
  <key>uni25EB</key>
  <string>uni25E_B_.glif</string>
  <key>uni25EC</key>
  <string>uni25E_C_.glif</string>
  <key>uni25ED</key>
  <string>uni25E_D_.glif</string>
  <key>uni25EE</key>
  <string>uni25E_E_.glif</string>
  <key>uni25EF</key>
  <string>uni25E_F_.glif</string>
  <key>uni25F0</key>
  <string>uni25F_0.glif</string>
  <key>uni25F1</key>
  <string>uni25F_1.glif</string>
  <key>uni25F2</key>
  <string>uni25F_2.glif</string>
  <key>uni25F3</key>
  <string>uni25F_3.glif</string>
  <key>uni25F4</key>
  <string>uni25F_4.glif</string>
  <key>uni25F5</key>
  <string>uni25F_5.glif</string>
  <key>uni25F6</key>
  <string>uni25F_6.glif</string>
  <key>uni25F7</key>
  <string>uni25F_7.glif</string>
  <key>uni25B7</key>
  <string>uni25B_7.glif</string>
  <key>uni25F8</key>
  <string>uni25F_8.glif</string>
  <key>uni25FA</key>
  <string>uni25F_A_.glif</string>
  <key>uni25FB</key>
  <string>uni25F_B_.glif</string>
  <key>uni25FC</key>
  <string>uni25F_C_.glif</string>
  <key>uni25FD</key>
  <string>uni25F_D_.glif</string>
  <key>uni25FE</key>
  <string>uni25F_E_.glif</string>
  <key>uni25FF</key>
  <string>uni25F_F_.glif</string>
  <key>uni25C1</key>
  <string>uni25C_1.glif</string>
  <key>uni25F9</key>
  <string>uni25F_9.glif</string>
  <key>uni2BCA</key>
  <string>uni2B_C_A_.glif</string>
  <key>uni2BCB</key>
  <string>uni2B_C_B_.glif</string>
  <key>uni2BC5</key>
  <string>uni2B_C_5.glif</string>
  <key>uni2BC6</key>
  <string>uni2B_C_6.glif</string>
  <key>uni2BC7</key>
  <string>uni2B_C_7.glif</string>
  <key>uni2BC8</key>
  <string>uni2B_C_8.glif</string>
</dict>
</plist>
