<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1080</real>
      <key>name</key>
      <string>f1</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-20</real>
      <key>name</key>
      <string>f2</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1500</real>
      <key>name</key>
      <string>f3</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1440</real>
      <key>name</key>
      <string>f4</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-460</real>
      <key>name</key>
      <string>f5</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>409</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f6</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>2160</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f7</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>2120</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f8</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>240</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f9</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>392</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f10</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>2004</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f11</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>3360</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f12</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>3320</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f13</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>90</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>3208</real>
      <key>y</key>
      <real>0</real>
      <key>name</key>
      <string>f14</string>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>upblock</string>
    <string>uni2581</string>
    <string>uni2582</string>
    <string>uni2583</string>
    <string>dnblock</string>
    <string>uni2585</string>
    <string>uni2586</string>
    <string>uni2587</string>
    <string>block</string>
    <string>uni2589</string>
    <string>uni258A</string>
    <string>uni258B</string>
    <string>lfblock</string>
    <string>uni258D</string>
    <string>uni258E</string>
    <string>uni258F</string>
    <string>rtblock</string>
    <string>ltshade</string>
    <string>shade</string>
    <string>dkshade</string>
    <string>uni2594</string>
    <string>uni2595</string>
    <string>uni2596</string>
    <string>uni2597</string>
    <string>uni2598</string>
    <string>uni2599</string>
    <string>uni259A</string>
    <string>uni259B</string>
    <string>uni259C</string>
    <string>uni259D</string>
    <string>uni259E</string>
    <string>uni259F</string>
  </array>
</dict>
</plist>
